#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.Nav-Container {
  background-color: #b4cfbc;
  height: 100px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid rgb(43, 42, 42);
  border-top: 3px solid rgb(43, 42, 42);
}
.Navbar {
  padding: 10px;
  margin: 0 auto;
  width: fit-content;
}

.Navbar-Ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.Navbar-Li {
  margin-right: 10px;
}

.Navbar-Link {
  font-weight: bold;
  font-size: 22px;
  color: rgb(47, 47, 47);
  text-decoration: double;
  padding: 5px;
  border-radius: 5px;
}
